* text=auto !eol
/apertium-fra.fra.acx -text
/apertium-fra.fra.metadix -text
/fra.prob -text svneol=unset#unset
texts/codein/comedie_musicale1.analysed.txt -text
texts/codein/comedie_musicale1.tagged.charlesw.txt -text
texts/codein/informatique1.analysed.txt -text
